#bloc_direction {
    width: 500px;
    height: 500px;
    border-radius: 70px;
    margin: 35px 50px;
    position:relative;

    border: 5px black solid;
    background-color: #24252A;
    font-family: "Montserrat", sans-serif;

    display: flex;
    flex-direction: column;

    cursor: pointer; 
    transition-timing-function: ease-in-out;
    transition: all 0.2s;
    

}

#bloc_direction:hover {
    box-shadow: 6px 10px 1px #24252A;
}


#bloc_direction_titre {
    color: white;
    
    font-size: 50px;
    margin: 15px 0;
}

#bloc_direction_informations {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 60%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bloc_direction_informations {
    color:#24252A;
    font-size: 27px;
}

#denombrement, #mobilite {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

#bloc_direction_directeur {
    border-bottom: 0.5px solid black;
    height: 40px;
    padding: 10px 0;
    background-color: #D9DDDC;
}

/*
====================
|                  |
|    MINIBLOC      |
|                  |
====================
*/


.minibloc {
    position: relative;
    width: 200px;
    height: 80px;
}

.minibloc h3, .minibloc p {
    position: relative;
    z-index: 99;
    color:black;
}

.minibloc img {
    width: 50%;
    display: inline-block;       
    text-align: center;          
    position: absolute;          
    left: 50%;                  
    bottom: 10px;                
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.15;    
}



/*
====================
|                  |
|      DETAIL      |
|                  |
====================
*/

#page_detail {
    width:800px;
    height:800px;
    background-color: red;
}