.list_suggestions {
    
    width:500px;

    position:absolute;
    left:-18%;

    display:flex;
    flex-direction: column;
    /* border: lightgray .5px solid; */
    background-color: white;
}

.list_suggestions .suggestion {
    border : 0.5px solid lightgray;
    padding: 10px 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.1s;
    cursor:pointer;
    background-color: white;
    z-index: 200;
}

.list_suggestions .suggestion:hover {
    background-color: rgb(244, 244, 244);
}

.list_suggestions .suggestion .suggestion_nom {
    width:70%;
    text-align: left;
}